.card {
	border: 2px solid #ccc;
	padding: 5px;
	margin: 5px;
	cursor: grab;
	opacity: 1;
	text-align: center;
	width: 100px;
	height: 5rem;
	background-color: #f0f0f0;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.matched {
	background-color: #d4edda;
	cursor: not-allowed;
	opacity: 0.5;
}

.card.is-over {
	border-color: #007bff;
}
